<div class="col-md-6 col-md-offset-3">
  <%= form_for @restaurant do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(@restaurant.errors.count, "error") %>
        <ul>
          <% @restaurant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>  
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :restaurant_name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br/>
    <%= f.label :full_address %>
    <%= f.text_field :full_address %>
    <br/>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    <br/>
    <%= f.submit %>
  <% end %>
</div>