<h1>Restaurant - <%= @restaurant.name %></h1>
<h2>Owner's name - <%= @restaurant.owner.name %> </h2>
<br/>
Name: <%= @restaurant.name %>
<br/>
Description: <%= @restaurant.description %>
<br/>
Phone number: <%= @restaurant.phone_number %>
<br/>
Address: <%= @restaurant.full_address %>
<br/>
<%= image_tag @restaurant.map_url %>
<br/>

<%= link_to "Restaurant directory", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", restaurant_path(@restaurant),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} %>