<% provide(:title, @restaurant.name) %>
<h1><%= @restaurant.name %></h1>
<div class="col-md-6">
	<%= image_tag @restaurant.map_url %>
</div>
<div class="col-md-6">
	<div class="jumbotron">
	<h3><strong>Owner:</strong> <%= @restaurant.user.name %></h3>
	<h3><strong>Phone number:</strong> <%= @restaurant.phone_number %></h3>
	<h3><strong>Address:</strong></h3><p><%= @restaurant.full_address %></p>
	<h3><strong>Description:</strong> </h3><p><%= @restaurant.description %></p>
	</div>
</div> 
<div class="col-md-6">
	<%= link_to "Back to Directory", restaurants_path, class: "btn btn-primary" %>
	<% if @restaurant.user == current_user %>
	  <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
	  <%= link_to "Delete", restaurant_path(@restaurant),
	                        method: :delete,
	                        data: { confirm: 'Are you sure?'},
	                        class: "btn btn-danger" %>
	<% end %>
</div>
